#template{
	width: 1400px;
	height:auto;
}
 

#header{
	background: white;
	height: 80px;
	padding-left:200px;
}
 
 
#menu{
	background: Black;
	height:40px;
	padding-left:200px;
}

nav.menu ul {
	overflow:hidden;
	color:white;
	list-style: none;
	float:left;
	padding:0;
	margin:0 0 0;
	background:black;
}
 
nav.menu ul li {
	margin:0;
	float:left;
}
 
nav.menu ul a {
	padding:13px;
	display:block;
	font-weight:600;
	font-size: 10px;
	color:white;
	text-transform: uppercase;
	transition: all 0.3s ease;
	text-decoration: none;
}
 
nav.menu ul a:hover {
	background:grey;
}

#clear{
	clear: both;
}
 
.sidebar {
	margin-top:20px;
	float:right;
	width:275px;
	margin-right:150px;
}
 
.sidebar .side {
	padding:25px;
	margin:0 0 25px;
	background:white;
	border-radius: 10px;
}
 
.sidebar .side:hover {
	border-bottom: 2px solid black;
}
 
.sidebar .side h2 {
	padding:0;
	margin:0 0 15px;
	color:black;
	font-size: 18px;
	font-weight:800;
	text-transform: uppercase;
}
 
.sidebar .side p {
	font-size: 14px;
}
 
.sidebar .side p:last-child {
	margin:0;
}

#body {
	float:left;
}

#content{
	width:965px;
	padding:25px;
	margin-top:20px;
	margin-left:200px;
	background: black;
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	border-radius: 10px;
	color:white;
}

#slider{
	overflow:hidden;
}

#slider figure{
	position:relative;
	width:500%;
	margin:0;
	left:0;
	animation:10s slider infinite;
}

#slider table{
	width:20%;
	float:left;
}

@keyframes slider{
	0%{
		left:0;
	}
	14%{
		left:0;
	}
	28%{
		left:-100%;
	}
	42%{
		left:-100%;
	}
	56%{
		left:-200%;
	}
	70%{
		left:-200%;
	}
	84%{
		left:-300%;
	}
	100%{
		left:-300%;
	}
}

#footer{
	background: black;
	height: 50px;
	padding-top:1px;
	margin-top:20px;
}